<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Fruits App</title>
  </head>
  <body>
    <h1>Pokemon</h1>
    <h2>Name : <%= pokemon.name %></h2>
    <h3>Type : <%= pokemon.type %></h3>
    <h4>HP: <%= pokemon.stats.hp %></h4>
    <h4>Attack: <%= pokemon.stats.attack %></h4>
    <h4>Defense: <%= pokemon.stats.defense %></h4>
    <h4>Speed: <%= pokemon.stats.speed %></h4>
    <img src="<%= pokemon.img %>" alt="" class="src">
    <a href="/pokemon">Back to Index</a>
  </body>
</html>